{% extends "layout.html" %} {% block title %} Player Sheets {% endblock %} {% block main %}

<div class="select_form mx-auto">
    <form action="/create" method="post" class="form-control">
        <h2>Select game:</h2>
        <select class="form-select" aria-label="select" name="game">
            {% for game in games %}
            <option value="{{ game }}">{{ game }}</option>
            {% endfor %}
        </select>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-warning btn-lg button-margins">Create</button>
        </div>
        <br>
    </form>
</div>

{% endblock %}