{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<div class="bg_large">

    {% if session["user_id"] %}
    <article class="mx-auto size bg-fade">
        <h2>Our supported games:</h2>
        <ul class="list-group">
            {% for game in supported %}
            <li class="list-group-item">
                {{game}}
            </li>
            {% endfor %}
        </ul>
    </article>
    <br>
    <article>

        <div class="mx-auto size bg-fade">
            {% if sheets %}
            <h2>Here are your characters!</h2>
            <ul class="list-group">
                {% for sheet in sheets %}
                <li class="list-group-item">
                    <strong>{{sheet.characterName.upper()}}</strong> from {{sheet.game}}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h4 style="color: blueviolet;">You have no characters yet..</h4>
            {% endif %}
        </div>
    </article>
    {% else %}
    <article class="mx-auto size bg-fade">
        <h2>Our supported games:</h2>
        <ul class="list-group">
            {% for game in supported %}
            <li class="list-group-item">
                {{game}}
            </li>
            {% endfor %}
        </ul>
    </article>
    <br>
    <article>

        <div class="mx-auto size bg-fade">
            {% if sheets %}
            <h2>Here are your characters!</h2>
            <ul class="list-group">
                {% for sheet in sheets %}
                <li class="list-group-item">
                    <strong>{{sheet.characterName.upper()}}</strong> from {{sheet.game}}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h4 style="color: blueviolet;">Log in to see your characters!</h4>
            {% endif %}
        </div>
    </article>

    {% endif %}
</div>
{% endblock %}