{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block main
    %}

    <div class="d-flex justify-content-center topper-5 form-box form-img">
        <form action="/login" method="post" class="bg-fade">
            <!-- username -->
            <div class="input-margin-top">
            <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="username" name="username" pattern=".{6,}" maxlength="16" required>
            </div>

            <!-- password -->
            <div class="input-margin-top">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" pattern=".{8,}" maxlength="16" required>

            <button class="btn btn-dark upper container input-margin-bottom input-margin-top" type="submit">Login</button>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert"><h6>{{ message }}</h6></div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
    </div>


{% endblock %}
