{% extends "layout.html" %} {% block title %} Player Sheets {% endblock %} {% block main %}

<div class="select_form mx-auto">
    <form action="/player" method="post" class="form-control">
        <h2>Select game sheet:</h2>
        <select class="form-select" aria-label="select" name="sheet_id">
            <option selected="selected" disabled> - empty - </option>
            {% for i in games %}
            <option value="{{ i.sheet_id }}">{{ i.game }} | {{ i.characterName }}</option>
            {% endfor %}
        </select>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark btn-lg">Pick</button>
        </div>

        <div class="d-grid gap-2">
            <a href="/create" class="btn btn-warning btn-lg button-margins">Create</a>
        </div>
        <div class="d-grid gap-2">
            <a href="/delete" class="btn btn-danger btn-sm button-margins">Delete</a>
        </div>
        <br>
    </form>
</div>

{% endblock %}