<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vampire: The Masquerade V5 Character Sheet</title>
    <link rel="stylesheet" href="../../../static/vamp_5_creator.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap" rel="stylesheet">

</head>

<body>
    <main class="main sorts-mill-goudy-regular">
        <img src="../../../static/img/vampire_logo.png" alt="vampire_logo" width="300" class="logo">
        <form action="/vampire_create" method="post">

            <!-- Health, Willpower, and Humanity -->
            <div class="section limit centered">
                <h2 class="centered upper">Health, Willpower, and Humanity</h2>
                <label for="health">Health</label>
                <input type="number" id="health" name="health" disabled value="{{data.health}}">
                <label for="willpower">Willpower</label>
                <input type="number" id="willpower" name="willpower" disabled value="{{data.willpower}}">
                <label for="humanity">Humanity</label>
                <input type="number" id="humanity" name="humanity" disabled value="{{data.humanity}}">
            </div>

            <!-- Basic Info -->
            <div class="section limit center_div">
                <h2 class="centered upper">Basic Information</h2>
                <table class="centered limit">
                    <tr>
                        <td><label class="text_label" for="characterName">Character Name</label>
                            <input type="text" id="characterName" name="characterName" class="text_input"
                                value="{{data.characterName}}" disabled>
                        </td>
                        <td><label class="text_label" for="concept">Concept</label>
                            <input type="text" id="concept" maxlength="20" name="concept" class="text_input"
                                value="{{data.concept}}" disabled>
                        </td>
                        <td>
                            <label class="text_label" for="chronicle">Chronicle</label>
                            <input type="text" id="chronicle" maxlength="30" name="chronicle" class="text_input"
                                disabled value="{{data.chronicle}}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="text_label" for="playerName">Player Name</label>
                            <input type="text" id="playerName" name="playerName" maxlength="30" class="text_input"
                                disabled value="{{data.playerName}}">
                        </td>
                        <td><label class="text_label" for="clan">Clan</label>
                            <input type="text" id="clan" maxlength="20" name="clan" class="text_input" disabled
                                value="{{data.clan}}">
                        </td>
                        <td><label class="text_label" for="generation">Generation</label>
                            <input type="text" id="generation" maxlength="20" name="generation" class="text_input"
                                disabled value="{{data.generation}}">
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Attributes -->
            <div class="section">
                <h2 class="centered upper">Attributes</h2>
                <div class="esp">
                    <table class="centered ">
                        <tr class="centered">
                            <td class="att">
                                <h3 class="centered upper">Physical</h3>
                                <label for="strength">Strength</label>
                                <input type="number" id="strength" name="strength" disabled value="{{data.strength}}">
                                <label for="dexterity">Dexterity</label>
                                <input type="number" id="dexterity" name="dexterity" disabled
                                    value="{{data.dexterity}}">
                                <label for="stamina">Stamina</label>
                                <input type="number" id="stamina" name="stamina" disabled value="{{data.stamina}}">
                            </td>
                            <td class="att">
                                <h3 class="centered upper">Social</h3>
                                <label for="charisma">Charisma</label>
                                <input type="number" id="charisma" name="charisma" disabled value="{{data.charisma}}">
                                <label for="manipulation">Manipulation</label>
                                <input type="number" id="manipulation" name="manipulation" disabled
                                    value="{{data.manipulation}}">
                                <label for="composure">Composure</label>
                                <input type="number" id="composure" name="composure" disabled
                                    value="{{data.composure}}">
                            </td>
                            <td class="att">
                                <h3 class="centered upper">Mental</h3>
                                <label for="intelligence">Intelligence</label>
                                <input type="number" id="intelligence" name="intelligence" disabled
                                    value="{{data.intelligence}}">
                                <label for="wits">Wits</label>
                                <input type="number" id="wits" name="wits" disabled value="{{data.wits}}">
                                <label for="resolve">Resolve</label>
                                <input type="number" id="resolve" name="resolve" disabled value="{{data.resolve}}">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            </div>
            <!-- Skills -->
            <div class="section limit center_div">
                <table class="centered limit">
                    <tr class="centered">
                        <!-- Physical Skills -->
                        <td>
                            <h2 class="centered upper">Physical</h2>
                            <label for="athletics">Athletics</label>
                            <input type="number" id="athletics" name="athletics" disabled value="{{data.athletics}}">
                            <label for="brawl">Brawl</label>
                            <input type="number" id="brawl" name="brawl" disabled value="{{data.brawl}}">
                            <label for="craft">Craft</label>
                            <input type="number" id="craft" name="craft" disabled value="{{data.craft}}">
                            <label for="drive">Drive</label>
                            <input type="number" id="drive" name="drive" disabled value="{{data.drive}}">
                            <label for="firearms">Firearms</label>
                            <input type="number" id="firearms" name="firearms" disabled value="{{data.firearms}}">
                        </td>
                    </tr>
                    <tr class="centered">
                        <td>
                            <label for="larceny">Larceny</label>
                            <input type="number" id="larceny" name="larceny" disabled value="{{data.larceny}}">
                            <label for=" melee">Melee</label>
                            <input type="number" id="melee" name="melee" disabled value="{{data.melee}}">
                            <label for="stealth">Stealth</label>
                            <input type="number" id="stealth" name="stealth" disabled value="{{data.stealth}}">
                            <label for="survival">Survival</label>
                            <input type="number" id="survival" name="survival" disabled value="{{data.survival}}">
                        </td>
                    </tr>
                    <tr class="centered">
                        <!-- Social Skills -->
                        <td>
                            <h2 class="centered upper">Social</h2>
                            <label for="animalKen">Animal Ken</label>
                            <input type="number" id="animalKen" name="animalKen" disabled value="{{data.animalKen}}">
                            <label for="etiquette">Etiquette</label>
                            <input type="number" id="etiquette" name="etiquette" disabled value="{{data.etiquette}}">
                            <label for="insight">Insight</label>
                            <input type="number" id="insight" name="insight" disabled value="{{data.insight}}">
                            <label for="intimidation">Intimidation</label>
                            <input type="number" id="intimidation" name="intimidation" disabled
                                value="{{data.intimidation}}">
                            <label for="leadership">Leadership</label>
                            <input type="number" id="leadership" name="leadership" disabled value="{{data.leadership}}">
                        </td>
                    </tr>
                    <tr class="centered">
                        <td>
                            <label for="performance">Performance</label>
                            <input type="number" id="performance" name="performance" disabled
                                value="{{data.performance}}">
                            <label for="persuasion">Persuasion</label>
                            <input type="number" id="persuasion" name="persuasion" disabled value="{{data.persuasion}}">
                            <label for="streetwise">Streetwise</label>
                            <input type="number" id="streetwise" name="streetwise" disabled value="{{data.streetwise}}">
                            <label for="subterfuge">Subterfuge</label>
                            <input type="number" id="subterfuge" name="subterfuge" disabled value="{{data.subterfuge}}">
                        </td>
                    </tr>
                    <tr class="centered">
                        <!-- Mental Skills -->
                        <td>
                            <h2 class="centered upper">Mental</h2>
                            <label for="academics">Academics</label>
                            <input type="number" id="academics" name="academics" disabled value="{{data.academics}}">
                            <label for="awareness">Awareness</label>
                            <input type="number" id="awareness" name="awareness" disabled value="{{data.awareness}}">
                            <label for="finance">Finance</label>
                            <input type="number" id="finance" name="finance" disabled value="{{data.finance}}">
                            <label for="investigation">Investigation</label>
                            <input type="number" id="investigation" name="investigation" disabled
                                value="{{data.investigation}}">
                            <label for="medicine">Medicine</label>
                            <input type="number" id="medicine" name="medicine" disabled value="{{data.medicine}}">
                        </td>
                    </tr>
                    <tr class="centered">
                        <td>
                            <label for="occult">Occult</label>
                            <input type="number" id="occult" name="occult" disabled value="{{data.occult}}">
                            <label for="politics">Politics</label>
                            <input type="number" id="politics" name="politics" disabled value="{{data.politics}}">
                            <label for="science">Science</label>
                            <input type="number" id="science" name="science" disabled value="{{data.science}}">
                            <label for="technology">Technology</label>
                            <input type="number" id="technology" name="technology" disabled value="{{data.technology}}">
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Disciplines -->
            <div class="section limit center_div">
                <h2 class="centered upper">Disciplines</h2>
                <table class="limit centered">
                    <tr>
                        <td>
                            <label for="discipline1">Discipline 1</label>
                            <input type="text" id="discipline1" name="discipline1" class="text_input" disabled
                                value="{{data.discipline1}}">
                            <label for="discipline1Level">Level</label>
                            <input type="number" id="discipline1Level" name="discipline1Level" disabled
                                value="{{data.discipline1Level}}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="discipline2">Discipline 2</label>
                            <input type="text" id="discipline2" name="discipline2" class="text_input" disabled
                                value="{{data.discipline2}}">
                            <label for="discipline2Level">Level</label>
                            <input type="number" id="discipline2Level" name="discipline2Level" disabled
                                value="{{data.discipline2Level}}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="discipline3">Discipline 3</label>
                            <input type="text" id="discipline3" name="discipline3" class="text_input" disabled
                                value="{{data.discipline3}}">
                            <label for="discipline3Level">Level</label>
                            <input type="number" id="discipline3Level" name="discipline3Level" disabled
                                value="{{data.discipline3Level}}">
                        </td>
                    </tr>
                </table>



            </div>

            <!-- Backgrounds, Merits, and Flaws -->
            <div class="section limit centered">
                <h2 class="centered upper">Backgrounds, Merits, and Flaws</h2>
                <table class="limit">
                    <tr>
                        <td class="centered">
                            <label for="background1">Background 1</label>
                            <input type="text" id="background1" name="background1" class="text_input" disabled
                                value="{{data.background1}}">
                            <label for="background1Level">Level</label>
                            <input type="number" id="background1Level" name="background1Level" disabled
                                value="{{data.background1Level}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="centered">
                            <label for="background2">Background 2</label>
                            <input type="text" id="background2" name="background2" class="text_input" disabled
                                value="{{data.background2}}">
                            <label for="background2Level">Level</label>
                            <input type="number" id="background2Level" name="background2Level" disabled
                                value="{{data.background2Level}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="centered">
                            <label for="background3">Background 3</label>
                            <input type="text" id="background3" name="background3" class="text_input" disabled
                                value="{{data.background3}}">
                            <label for="background3Level">Level</label>
                            <input type="number" id="background3Level" name="background3Level" disabled
                                value="{{data.background3Level}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="centered">
                            <label for="merit1">Merit 1</label>
                            <input type="text" id="merit1" name="merit1" class="text_input" disabled
                                value="{{data.merit1}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="centered">
                            <label for="merit2">Merit 2</label>
                            <input type="text" id="merit2" name="merit2" class="text_input" disabled
                                value="{{data.merit2}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="centered">
                            <label for="flaw1">Flaw 1</label>
                            <input type="text" id="flaw1" name="flaw1" class="text_input" disabled
                                value="{{data.flaw1}}">
                        </td>
                    </tr>
                    <tr>
                        <td class="centered">
                            <label for="flaw2">Flaw 2</label>
                            <input type="text" id="flaw2" name="flaw2" class="text_input" disabled
                                value="{{data.flaw2}}">
                        </td>
                    </tr>
                </table>
            </div>
            </div>
        </form>
    </main>
    <a href="#top" class="float float_position1">
        <i class="my-float">
            <svg class="svg_" fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330"
                xml:space="preserve">
                <path id="XMLID_224_"
                    d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
    l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
    C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z" />
            </svg>
        </i></a>
    <a href="#flaw2" class="float float_position">
        <i class="my-float">
            <svg class="svg_" fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330"
                xml:space="preserve">
                <path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393
           c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393
           s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
            </svg>
        </i></a>

    <a href="/player" class="float_position_return">
        <i class="my-float">
            <img src="/static/img/logo.png" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-middle" />
        </i></a>
</body>

</html>